html {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
  border: 1px solid gray;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (minmax(0, 1fr))[var];
      grid-template-columns: repeat(var(--grid-columns, 12), minmax(0, 1fr));
  -ms-grid-rows: (minmax(0, 1fr))[var];
      grid-template-rows: repeat(var(--grid-rows, 1), minmax(0, 1fr));
}

.grid > * {
  grid-column: span var(--grid-columns, 12);
  grid-row: span var(--grid-rows, 1);
  padding: 1rem;
  background: skyblue;
}

.grid-col-1 {
  --grid-columns: 1;
}

.grid-row-1 {
  --grid-rows: 1;
}

.grid-col-2 {
  --grid-columns: 2;
}

.grid-row-2 {
  --grid-rows: 2;
}

.grid-col-3 {
  --grid-columns: 3;
}

.grid-row-3 {
  --grid-rows: 3;
}

.grid-col-4 {
  --grid-columns: 4;
}

.grid-row-4 {
  --grid-rows: 4;
}

.grid-col-5 {
  --grid-columns: 5;
}

.grid-row-5 {
  --grid-rows: 5;
}

.grid-col-6 {
  --grid-columns: 6;
}

.grid-row-6 {
  --grid-rows: 6;
}

.grid-col-7 {
  --grid-columns: 7;
}

.grid-row-7 {
  --grid-rows: 7;
}

.grid-col-8 {
  --grid-columns: 8;
}

.grid-row-8 {
  --grid-rows: 8;
}

.grid-col-9 {
  --grid-columns: 9;
}

.grid-row-9 {
  --grid-rows: 9;
}

.grid-col-10 {
  --grid-columns: 10;
}

.grid-row-10 {
  --grid-rows: 10;
}

.grid-col-11 {
  --grid-columns: 11;
}

.grid-row-11 {
  --grid-rows: 11;
}

.grid-col-12 {
  --grid-columns: 12;
}

.grid-row-12 {
  --grid-rows: 12;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-flow-row {
  grid-auto-flow: row;
}

.grid-flow-row-dense {
  grid-auto-flow: row dense;
}

.grid-flow-col-dense {
  grid-auto-flow: column dense;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.justify-items-start {
  justify-items: start;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-stretch {
  justify-items: stretch;
}

.justify-self-auto {
  -ms-grid-column-align: auto;
      justify-self: auto;
}

.justify-self-start {
  -ms-grid-column-align: start;
      justify-self: start;
}

.justify-self-end {
  -ms-grid-column-align: end;
      justify-self: end;
}

.justify-self-center {
  -ms-grid-column-align: center;
      justify-self: center;
}

.justify-self-stretch {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.content-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.content-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.content-between {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.content-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.content-evenly {
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.self-auto {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

.self-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.self-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.self-stretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.place-content-center {
  place-content: center;
}

.place-content-start {
  place-content: start;
}

.place-content-end {
  place-content: end;
}

.place-content-between {
  place-content: space-between;
}

.place-content-around {
  place-content: space-around;
}

.place-content-evenly {
  place-content: space-evenly;
}

.place-content-stretch {
  place-content: stretch;
}

.place-items-start {
  place-items: start;
}

.place-items-end {
  place-items: end;
}

.place-items-center {
  place-items: center;
}

.place-items-stretch {
  place-items: stretch;
}

.place-self-auto {
  place-self: auto;
}

.place-self-start {
  place-self: start;
}

.place-self-end {
  place-self: end;
}

.place-self-center {
  place-self: center;
}

.place-self-stretch {
  place-self: stretch;
}

@media (min-width: 0) {
  .sm-col-auto {
    grid-column: auto;
  }
  .sm-col-full {
    grid-column: span 1 / -1;
  }
  .sm-col-start-auto {
    -ms-grid-column: auto;
        grid-column-start: auto;
  }
  .sm-col-end-auto {
    grid-column-end: auto;
  }
  .sm-row-auto {
    grid-row: auto;
  }
  .sm-col-span-1 {
    grid-column: auto/span 1;
  }
  .sm-col-start-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .sm-row-span-1 {
    grid-row: auto/span 1;
  }
  .sm-row-start-1 {
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .sm-col-span-2 {
    grid-column: auto/span 2;
  }
  .sm-col-start-2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .sm-col-end-2 {
    grid-column-end: 2;
  }
  .sm-row-span-2 {
    grid-row: auto/span 2;
  }
  .sm-row-start-2 {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .sm-row-end-2 {
    grid-row-end: 2;
  }
  .sm-col-span-3 {
    grid-column: auto/span 3;
  }
  .sm-col-start-3 {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .sm-col-end-3 {
    grid-column-end: 3;
  }
  .sm-row-span-3 {
    grid-row: auto/span 3;
  }
  .sm-row-start-3 {
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  .sm-row-end-3 {
    grid-row-end: 3;
  }
  .sm-col-span-4 {
    grid-column: auto/span 4;
  }
  .sm-col-start-4 {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .sm-col-end-4 {
    grid-column-end: 4;
  }
  .sm-row-span-4 {
    grid-row: auto/span 4;
  }
  .sm-row-start-4 {
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  .sm-row-end-4 {
    grid-row-end: 4;
  }
  .sm-col-span-5 {
    grid-column: auto/span 5;
  }
  .sm-col-start-5 {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .sm-col-end-5 {
    grid-column-end: 5;
  }
  .sm-row-span-5 {
    grid-row: auto/span 5;
  }
  .sm-row-start-5 {
    -ms-grid-row: 5;
        grid-row-start: 5;
  }
  .sm-row-end-5 {
    grid-row-end: 5;
  }
  .sm-col-span-6 {
    grid-column: auto/span 6;
  }
  .sm-col-start-6 {
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
  .sm-col-end-6 {
    grid-column-end: 6;
  }
  .sm-row-span-6 {
    grid-row: auto/span 6;
  }
  .sm-row-start-6 {
    -ms-grid-row: 6;
        grid-row-start: 6;
  }
  .sm-row-end-6 {
    grid-row-end: 6;
  }
  .sm-col-span-7 {
    grid-column: auto/span 7;
  }
  .sm-col-start-7 {
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
  .sm-col-end-7 {
    grid-column-end: 7;
  }
  .sm-row-span-7 {
    grid-row: auto/span 7;
  }
  .sm-row-start-7 {
    -ms-grid-row: 7;
        grid-row-start: 7;
  }
  .sm-row-end-7 {
    grid-row-end: 7;
  }
  .sm-col-span-8 {
    grid-column: auto/span 8;
  }
  .sm-col-start-8 {
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
  .sm-col-end-8 {
    grid-column-end: 8;
  }
  .sm-row-span-8 {
    grid-row: auto/span 8;
  }
  .sm-row-start-8 {
    -ms-grid-row: 8;
        grid-row-start: 8;
  }
  .sm-row-end-8 {
    grid-row-end: 8;
  }
  .sm-col-span-9 {
    grid-column: auto/span 9;
  }
  .sm-col-start-9 {
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
  .sm-col-end-9 {
    grid-column-end: 9;
  }
  .sm-row-span-9 {
    grid-row: auto/span 9;
  }
  .sm-row-start-9 {
    -ms-grid-row: 9;
        grid-row-start: 9;
  }
  .sm-row-end-9 {
    grid-row-end: 9;
  }
  .sm-col-span-10 {
    grid-column: auto/span 10;
  }
  .sm-col-start-10 {
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
  .sm-col-end-10 {
    grid-column-end: 10;
  }
  .sm-row-span-10 {
    grid-row: auto/span 10;
  }
  .sm-row-start-10 {
    -ms-grid-row: 10;
        grid-row-start: 10;
  }
  .sm-row-end-10 {
    grid-row-end: 10;
  }
  .sm-col-span-11 {
    grid-column: auto/span 11;
  }
  .sm-col-start-11 {
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
  .sm-col-end-11 {
    grid-column-end: 11;
  }
  .sm-row-span-11 {
    grid-row: auto/span 11;
  }
  .sm-row-start-11 {
    -ms-grid-row: 11;
        grid-row-start: 11;
  }
  .sm-row-end-11 {
    grid-row-end: 11;
  }
  .sm-col-span-12 {
    grid-column: auto/span 12;
  }
  .sm-col-start-12 {
    -ms-grid-column: 12;
        grid-column-start: 12;
  }
  .sm-col-end-12 {
    grid-column-end: 12;
  }
  .sm-row-span-12 {
    grid-row: auto/span 12;
  }
  .sm-row-start-12 {
    -ms-grid-row: 12;
        grid-row-start: 12;
  }
  .sm-row-end-12 {
    grid-row-end: 12;
  }
  .sm-col-end-13 {
    grid-column-end: 13;
  }
  .sm-row-end-13 {
    grid-row-end: 13;
  }
}

@media (min-width: 546px) {
  .md-col-auto {
    grid-column: auto;
  }
  .md-col-full {
    grid-column: span 1 / -1;
  }
  .md-col-start-auto {
    -ms-grid-column: auto;
        grid-column-start: auto;
  }
  .md-col-end-auto {
    grid-column-end: auto;
  }
  .md-row-auto {
    grid-row: auto;
  }
  .md-col-span-1 {
    grid-column: auto/span 1;
  }
  .md-col-start-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .md-row-span-1 {
    grid-row: auto/span 1;
  }
  .md-row-start-1 {
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .md-col-span-2 {
    grid-column: auto/span 2;
  }
  .md-col-start-2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .md-col-end-2 {
    grid-column-end: 2;
  }
  .md-row-span-2 {
    grid-row: auto/span 2;
  }
  .md-row-start-2 {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .md-row-end-2 {
    grid-row-end: 2;
  }
  .md-col-span-3 {
    grid-column: auto/span 3;
  }
  .md-col-start-3 {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .md-col-end-3 {
    grid-column-end: 3;
  }
  .md-row-span-3 {
    grid-row: auto/span 3;
  }
  .md-row-start-3 {
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  .md-row-end-3 {
    grid-row-end: 3;
  }
  .md-col-span-4 {
    grid-column: auto/span 4;
  }
  .md-col-start-4 {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .md-col-end-4 {
    grid-column-end: 4;
  }
  .md-row-span-4 {
    grid-row: auto/span 4;
  }
  .md-row-start-4 {
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  .md-row-end-4 {
    grid-row-end: 4;
  }
  .md-col-span-5 {
    grid-column: auto/span 5;
  }
  .md-col-start-5 {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .md-col-end-5 {
    grid-column-end: 5;
  }
  .md-row-span-5 {
    grid-row: auto/span 5;
  }
  .md-row-start-5 {
    -ms-grid-row: 5;
        grid-row-start: 5;
  }
  .md-row-end-5 {
    grid-row-end: 5;
  }
  .md-col-span-6 {
    grid-column: auto/span 6;
  }
  .md-col-start-6 {
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
  .md-col-end-6 {
    grid-column-end: 6;
  }
  .md-row-span-6 {
    grid-row: auto/span 6;
  }
  .md-row-start-6 {
    -ms-grid-row: 6;
        grid-row-start: 6;
  }
  .md-row-end-6 {
    grid-row-end: 6;
  }
  .md-col-span-7 {
    grid-column: auto/span 7;
  }
  .md-col-start-7 {
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
  .md-col-end-7 {
    grid-column-end: 7;
  }
  .md-row-span-7 {
    grid-row: auto/span 7;
  }
  .md-row-start-7 {
    -ms-grid-row: 7;
        grid-row-start: 7;
  }
  .md-row-end-7 {
    grid-row-end: 7;
  }
  .md-col-span-8 {
    grid-column: auto/span 8;
  }
  .md-col-start-8 {
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
  .md-col-end-8 {
    grid-column-end: 8;
  }
  .md-row-span-8 {
    grid-row: auto/span 8;
  }
  .md-row-start-8 {
    -ms-grid-row: 8;
        grid-row-start: 8;
  }
  .md-row-end-8 {
    grid-row-end: 8;
  }
  .md-col-span-9 {
    grid-column: auto/span 9;
  }
  .md-col-start-9 {
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
  .md-col-end-9 {
    grid-column-end: 9;
  }
  .md-row-span-9 {
    grid-row: auto/span 9;
  }
  .md-row-start-9 {
    -ms-grid-row: 9;
        grid-row-start: 9;
  }
  .md-row-end-9 {
    grid-row-end: 9;
  }
  .md-col-span-10 {
    grid-column: auto/span 10;
  }
  .md-col-start-10 {
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
  .md-col-end-10 {
    grid-column-end: 10;
  }
  .md-row-span-10 {
    grid-row: auto/span 10;
  }
  .md-row-start-10 {
    -ms-grid-row: 10;
        grid-row-start: 10;
  }
  .md-row-end-10 {
    grid-row-end: 10;
  }
  .md-col-span-11 {
    grid-column: auto/span 11;
  }
  .md-col-start-11 {
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
  .md-col-end-11 {
    grid-column-end: 11;
  }
  .md-row-span-11 {
    grid-row: auto/span 11;
  }
  .md-row-start-11 {
    -ms-grid-row: 11;
        grid-row-start: 11;
  }
  .md-row-end-11 {
    grid-row-end: 11;
  }
  .md-col-span-12 {
    grid-column: auto/span 12;
  }
  .md-col-start-12 {
    -ms-grid-column: 12;
        grid-column-start: 12;
  }
  .md-col-end-12 {
    grid-column-end: 12;
  }
  .md-row-span-12 {
    grid-row: auto/span 12;
  }
  .md-row-start-12 {
    -ms-grid-row: 12;
        grid-row-start: 12;
  }
  .md-row-end-12 {
    grid-row-end: 12;
  }
  .md-col-end-13 {
    grid-column-end: 13;
  }
  .md-row-end-13 {
    grid-row-end: 13;
  }
}

@media (min-width: 1200px) {
  .lg-col-auto {
    grid-column: auto;
  }
  .lg-col-full {
    grid-column: span 1 / -1;
  }
  .lg-col-start-auto {
    -ms-grid-column: auto;
        grid-column-start: auto;
  }
  .lg-col-end-auto {
    grid-column-end: auto;
  }
  .lg-row-auto {
    grid-row: auto;
  }
  .lg-col-span-1 {
    grid-column: auto/span 1;
  }
  .lg-col-start-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .lg-row-span-1 {
    grid-row: auto/span 1;
  }
  .lg-row-start-1 {
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .lg-col-span-2 {
    grid-column: auto/span 2;
  }
  .lg-col-start-2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .lg-col-end-2 {
    grid-column-end: 2;
  }
  .lg-row-span-2 {
    grid-row: auto/span 2;
  }
  .lg-row-start-2 {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .lg-row-end-2 {
    grid-row-end: 2;
  }
  .lg-col-span-3 {
    grid-column: auto/span 3;
  }
  .lg-col-start-3 {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .lg-col-end-3 {
    grid-column-end: 3;
  }
  .lg-row-span-3 {
    grid-row: auto/span 3;
  }
  .lg-row-start-3 {
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  .lg-row-end-3 {
    grid-row-end: 3;
  }
  .lg-col-span-4 {
    grid-column: auto/span 4;
  }
  .lg-col-start-4 {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .lg-col-end-4 {
    grid-column-end: 4;
  }
  .lg-row-span-4 {
    grid-row: auto/span 4;
  }
  .lg-row-start-4 {
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  .lg-row-end-4 {
    grid-row-end: 4;
  }
  .lg-col-span-5 {
    grid-column: auto/span 5;
  }
  .lg-col-start-5 {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .lg-col-end-5 {
    grid-column-end: 5;
  }
  .lg-row-span-5 {
    grid-row: auto/span 5;
  }
  .lg-row-start-5 {
    -ms-grid-row: 5;
        grid-row-start: 5;
  }
  .lg-row-end-5 {
    grid-row-end: 5;
  }
  .lg-col-span-6 {
    grid-column: auto/span 6;
  }
  .lg-col-start-6 {
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
  .lg-col-end-6 {
    grid-column-end: 6;
  }
  .lg-row-span-6 {
    grid-row: auto/span 6;
  }
  .lg-row-start-6 {
    -ms-grid-row: 6;
        grid-row-start: 6;
  }
  .lg-row-end-6 {
    grid-row-end: 6;
  }
  .lg-col-span-7 {
    grid-column: auto/span 7;
  }
  .lg-col-start-7 {
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
  .lg-col-end-7 {
    grid-column-end: 7;
  }
  .lg-row-span-7 {
    grid-row: auto/span 7;
  }
  .lg-row-start-7 {
    -ms-grid-row: 7;
        grid-row-start: 7;
  }
  .lg-row-end-7 {
    grid-row-end: 7;
  }
  .lg-col-span-8 {
    grid-column: auto/span 8;
  }
  .lg-col-start-8 {
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
  .lg-col-end-8 {
    grid-column-end: 8;
  }
  .lg-row-span-8 {
    grid-row: auto/span 8;
  }
  .lg-row-start-8 {
    -ms-grid-row: 8;
        grid-row-start: 8;
  }
  .lg-row-end-8 {
    grid-row-end: 8;
  }
  .lg-col-span-9 {
    grid-column: auto/span 9;
  }
  .lg-col-start-9 {
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
  .lg-col-end-9 {
    grid-column-end: 9;
  }
  .lg-row-span-9 {
    grid-row: auto/span 9;
  }
  .lg-row-start-9 {
    -ms-grid-row: 9;
        grid-row-start: 9;
  }
  .lg-row-end-9 {
    grid-row-end: 9;
  }
  .lg-col-span-10 {
    grid-column: auto/span 10;
  }
  .lg-col-start-10 {
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
  .lg-col-end-10 {
    grid-column-end: 10;
  }
  .lg-row-span-10 {
    grid-row: auto/span 10;
  }
  .lg-row-start-10 {
    -ms-grid-row: 10;
        grid-row-start: 10;
  }
  .lg-row-end-10 {
    grid-row-end: 10;
  }
  .lg-col-span-11 {
    grid-column: auto/span 11;
  }
  .lg-col-start-11 {
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
  .lg-col-end-11 {
    grid-column-end: 11;
  }
  .lg-row-span-11 {
    grid-row: auto/span 11;
  }
  .lg-row-start-11 {
    -ms-grid-row: 11;
        grid-row-start: 11;
  }
  .lg-row-end-11 {
    grid-row-end: 11;
  }
  .lg-col-span-12 {
    grid-column: auto/span 12;
  }
  .lg-col-start-12 {
    -ms-grid-column: 12;
        grid-column-start: 12;
  }
  .lg-col-end-12 {
    grid-column-end: 12;
  }
  .lg-row-span-12 {
    grid-row: auto/span 12;
  }
  .lg-row-start-12 {
    -ms-grid-row: 12;
        grid-row-start: 12;
  }
  .lg-row-end-12 {
    grid-row-end: 12;
  }
  .lg-col-end-13 {
    grid-column-end: 13;
  }
  .lg-row-end-13 {
    grid-row-end: 13;
  }
}
/*# sourceMappingURL=main.css.map */