/**
* utility helper styles
*
* @package Minima-WP
*/

@each $sizes, $value in $br-sizes {

    .rounded-#{$sizes} {
        @include border-radius($value);
    }

    .rounded-tl-#{$sizes} {
        @include border-radius-detailed($tl: $value);
    }

    .rounded-tr-#{$sizes} {
        @include border-radius-detailed($tr: $value);
    }

    .rounded-bl-#{$sizes} {
        @include border-radius-detailed($bl: $value);
    }

    .rounded-br-#{$sizes} {
        @include border-radius-detailed($br: $value);
    }
        
}





