/**
* utility Style for links
*
* @package Minima-WP
*/

//variables
$btn-types: "fluid" "rounded";

.btn {
    @include btn;
}
.btn-fluid {
    @include btn('fluid');
}
.btn-rounded {
    @include btn('rounded')
}

@each $color-name, $value in $theme-colors {
    .btn-#{$color-name} {
        background-color: $value;
        color           : btn-text-color($value); 
    }
}