/*
* Utility styles for typography
*/
// text aligning
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

// text overflow
.text-ellipsis {
    text-overflow: ellipsis; 
}

// text transform

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}



