/**
* Utility style for Typography
*
* @package Minima-WP
*/


.text-centered {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-justified {
    text-align: justify;
    text-justify: inter-word;
}


.text-ellipsis {
    text-overflow: ellipsis; 
}


.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}



