/*
* Utility styles for links
*/

.btn {
    display             : inline-block;
    padding             : .375rem .75rem;
    font-weight         : $font-weight-btn;
    font-size           : $font-size-btn;
    line-height         : $lineheight-btn;
    border              : 1px solid transparent;
    border-radius       : .25rem;
    color               : $color-btn;
    background-color    : transparent;
    cursor              : pointer;  
}

@each $name,$color in $theme-colors {
    .btn-#{$name}{
        background-color: $color;
        color: $white;
    }
 }
