/**
* grid
*
* @package WP-Minima
*/
body {
  max-width: 1200px;
  margin: 0 auto !important;
}
$breakpoints: (
  sm: 0, // We are mobile first so we start from 0
  md: 768px,
  lg: 1200px,
) !default;

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1em;
}

@each $breakpoint in map-keys($breakpoints) {
  $breakpoint-width: map-get($breakpoints, $breakpoint);
  
  @media (min-width: $breakpoint-width) {
    @for $i from 1 through 12 {
      .#{$breakpoint}-#{$i} {
        grid-column: span $i;
      }
    }
  }
}



