/**
* Layout styles for grid
*
* @package Minima-WP
*/

/*
############################################
        container class
############################################
*/

.container-thin {
  width                 : 100%;
}

.container-full {
  max-width: 100%;

}

.container-thin,
.container-full {

  /* there is a problem while using padding inside a  cntainer classes
    problem comes only to mobiel devices.
    A horizontal bar created by padding. widhout padding its ok. and padding can be used inside the div 
  */
  display               : grid;
  grid-template-columns : repeat(12, 1fr);
  gap                   : $g-row $g-column; 
  margin-right          : auto;
  margin-left           : auto;

  > * {
    grid-column: 1 / -1;
  }
}

/*
############################################
        max width for container-thin
############################################
*/
 @each $breakpoint in map-keys($breakpoints) {
   $breakpoint-width: map-get($breakpoints, $breakpoint);
  
   @media (min-width: $breakpoint-width) {

     @if $breakpoint-width != $xsm {
      .container-thin {
        // max-width: 90%;
         max-width: $breakpoint-width;
              }
    }
    
  }
 }




/*
############################################
        12 Column Grid
############################################
*/
@each $breakpoint in map-keys($breakpoints) {
  $breakpoint-width: map-get($breakpoints, $breakpoint);
  
  @media (min-width: $breakpoint-width) {
    @for $i from 1 through 12 {
      .#{$breakpoint}-#{$i} {
        grid-column: span $i;
      }
    }
  }
}

/*
############################################
        Grid Order
############################################
*/
@each $breakpoint in map-keys($breakpoints) {
  $breakpoint-width: map-get($breakpoints, $breakpoint);
  
  @media (min-width: $breakpoint-width) {
    @for $i from 1 through 12 {
      .#{$breakpoint}-order-#{$i} {
        order:  $i;
      }
    }
  }
}


