/**
* Layout styles for header
*
* @package Minima-WP
*/


/* if for any reason we use container for nav  then following property will align elemtns center vertically */
#header-wrapper .container {
    align-items: center;
}


/* nav-default -1 */

.nav-one, ul {
            display: flex;
            gap: $f-gap;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
}

.nav-one {
    // background-color: #cecece;
    padding: 0.5rem .8rem 0.5rem 0;
}
