/**
* outer grid
*
* @package WP-Minima
*/


.wrapper {
    max-width: 1200px;
    max-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 100%;
    padding: 1rem;

    > * {
        grid-column: 1 / -1;
    }
}



// Aside media queries

@media (min-width: $md) {
    
    .with-left-sidebar, .with-right-sidebar {
        gap: $row-gap $column-gap;
    }
    
    // with right aside
    .with-right-sidebar {
        
        grid-template-columns: minmax(0, 1fr) 300px;
        
        .main {
            grid-column: 1 / 2;
        }
        .left-sidebar {
            display: none;
        }
        .right-sidebar {
            grid-column: 2 / 3;
            height: 100%;
        }
    }
    
    // with left aside
    
    .with-left-sidebar {

        grid-template-columns: 300px minmax(0, 1fr);
        
        .main {
            grid-column: 2 / 3;
        }
        .left-sidebar {
            height: 100%;
            grid-column: 1 / 2;
            grid-row: 2
        }
        .right-sidebar {
            display: none;
        }
}

    .with-both-sidebar {
     grid-template-columns: minmax(140px, 20%) 1fr minmax(140px, 20%);
     gap: $row-gap $column-gap;
    .main {
        grid-area: 2 / 2 / 3;
        
    }
    .left-sidebar {
        grid-area: 2 / 1 / 2;
        
    }
    .right-sidebar {
        grid-area: 2 / 3 / 4;
    }
}

}