/**
* Barebone(without utility classes) typography styles
*/
p {
    font-family     : $font-family-para;
    font-size       : $font-size-para;
    margin-top      : $margin-top-para;
    margin-bottom   : $margin-bottom-para;
    line-height     : $lineheight-para;
    word-break      : break-all;
    word-break      : break-word;
    hyphens         : auto;
    color           : $color-para;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-heading;
    font-style: $font-style-heading;
    font-weight: $font-weight-heading;
    color: $color-heading;
    line-height: $lineheight-heading;
    margin-bottom: $margin-bottom-heading;
    
    word-break: break-word;
}

h1 {font-size: $font-size-h1;}
h2 {font-size: $font-size-h2;}
h3 {font-size: $font-size-h3;}
h4 {font-size: $font-size-h4;}
h5 {font-size: $font-size-h5;}
h6 {font-size: $font-size-h6;}
