/**
* Barebone base style for typography
*
* @package Minima-WP
*/

p {
    font-size       : $fs-para;
    margin-top      : $mt-para;
    margin-bottom   : $mb-para;
    line-height     : $lh-para;
    word-break      : break-all;
    word-break      : break-word;
    hyphens         : auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family     : $ff-heading;
    font-style      : $fst-heading;
    font-weight     : $fw-heading;
    color           : $clr-heading;
    line-height     : $lh-heading;
    margin-bottom   : $mb-heading;
    word-break: break-word;
}

h1 {font-size: $fs-h1;}
h2 {font-size: $fs-h2;}
h3 {font-size: $fs-h3;}
h4 {font-size: $fs-h4;}
h5 {font-size: $fs-h5;}
h6 {font-size: $fs-h6;}
