/**
* Maps
*
* @package Minima-WP
*/



$theme-colors: (
   "primary"    : $primary,
   "secondary"  : $secondary,
   "contrast"   : $contrast,
   "dark"       : $black,
) !default;

$breakpoints: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
) !default;

$br-sizes: (
  sm: $br-sm,
  md: $br-md,
  lg: $br-lg,
) !default;


$m-sizes: (
  xs: $m-xs,
  sm: $m-sm,
  md: $m-md,
  lg: $m-lg,
  xl: $m-xl,
) !default;

$p-sizes: (
  xs: $p-xs,
  sm: $p-sm,
  md: $p-md,
  lg: $p-lg,
  xl: $p-xl,
) !default;

