/**
* Maps
*
* @package Minima-WP
*/



$theme-colors: (
   "primary"    : $primary,
   "secondary"  : $secondary,
   "contrast"   : $contrast,
   "dark"       : $black,
) !default;

$breakpoints: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
) !default;