/**
* mixins
*/


// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


//centering element
@mixin absolute-center{
    display: grid;
    place-items: center;
}

// flex card style

@mixin flex-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin flex-card-child {
    flex: 1 1 25%;
}

// grid card
@mixin card {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(25rem, 1fr));
    justify-content: space-between;
    padding: 2rem;
}

@mixin card-align {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}



// clamp card for more responsiveness
@mixin clamp-card {
    width: clamp(23ch, 50%, 46ch);
    display: flex;
    flex-direction: colulmn;
    padding: 1rem;
}