/**
* variables
*
* @package WP-Minima
*/

/*
############################################
        Layout Related Variables
############################################
*/

/*
* Breakpoints
*
* We are mobile first, So the breakpoint starts at 0
*/
$sm : 0px;
$md : 768px;
$lg: 1200px;



/*
############################################
        spacing Related Variables
############################################
*/

$row-gap: 1rem;
$column-gap: 1rem;

/*
############################################
        Color Related Variables
############################################
*/


$primary    : #16cca1;
$secondary  : #3ed78e;
$contrast   : #EBBA84;
$black      : #4a4a4a;
$white      : #fdfeff;

$theme-colors: (
   "primary"    : #16cca1,
   "secondary"  : #3ed78e,
   "contrast"   : #EBBA84,
   "dark"       : #4a4a4a,
);

$color-heading  : $black;
$color-para     : $black;
$color-btn      : $black;

/*
############################################
        Font Related Variables
############################################
*/
// font-family
$font-family-heading    : inherit;
$font-family-para       : inherit;

// font-style
$font-style-heading      : normal;

//font-weight
$font-weight-heading    : bolder;
$font-weight-btn        : normal;

// font-size
$font-size-h1         : 2rem;
$font-size-h2         : 1.8rem;
$font-size-h3         : 1.6rem;
$font-size-h4         : 1.4rem;
$font-size-h5         : 1.2rem;
$font-size-h6         : 1rem;

$font-size-para       : inherit;

$font-size-btn        : 1rem;

/*
############################################
        Margin Related Variables
############################################
*/
$margin-top-para        : 0;
$margin-top-heading     : 0;

$margin-bottom-para     : 1.6rem;
$margin-bottom-heading  : 1rem;



/*
############################################
        Line-height Related Variables
############################################
*/
$lineheight-para        : 1.3;
$lineheight-heading     : 1.2;
$lineheight-btn         : 1.5;
