@each $breakpoint in map-keys($breakpoints) {
    $breakpoint-width: map-get($breakpoints, $breakpoint);
    
    @media (min-width: $breakpoint-width) {
  
        .#{$breakpoint}-col-auto { grid-column: auto; }
        .#{$breakpoint}-col-full { grid-column: span 1 / -1; }
        .#{$breakpoint}-col-start-auto { grid-column-start: auto; }
        .#{$breakpoint}-col-end-auto { grid-column-end: auto; }
  
        .#{$breakpoint}-row-auto { grid-row: auto; }
  
        @for $i from 1 through 13 {
            
            @if $i < 13 {
                .#{$breakpoint}-col-span-#{$i} { grid-column: auto / span $i; }
            }
            
            @if $i < 13 {
                .#{$breakpoint}-col-start-#{$i} { grid-column-start: #{$i}; }
            }
            
            @if $i > 1 {
                .#{$breakpoint}-col-end-#{$i} { grid-column-end: #{$i}; }
            }
  
            @if $i < 13 {
                .#{$breakpoint}-row-span-#{$i} { grid-row: auto / span $i; }
            }
            
            @if $i < 13 {
                .#{$breakpoint}-row-start-#{$i} { grid-row-start: #{$i}; }
            }
            
            @if $i > 1 {
                .#{$breakpoint}-row-end-#{$i} { grid-row-end: #{$i}; }
            }
            
        }
  
    }
}